<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>943107345560-lirr7pq04j68ai57h186ja0oflau8dhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943107345560-lirr7pq04j68ai57h186ja0oflau8dhd</string>
	<key>API_KEY</key>
	<string>AIzaSyBQ4djSAajUepXe5NrWHGTl5xWCUIxuodw</string>
	<key>GCM_SENDER_ID</key>
	<string>943107345560</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.benstone.FirebaseReviewLesson</string>
	<key>PROJECT_ID</key>
	<string>fir-reviewproject</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-reviewproject.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:943107345560:ios:c1eba16b5f805a8197d4ed</string>
	<key>DATABASE_URL</key>
	<string>https://fir-reviewproject.firebaseio.com</string>
</dict>
</plist>